*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}


.container{
  max-width: 1170px;
  margin: 0 auto;
}

.row{
  text-align: center;

}

.row .row{
  padding: 5px;
}
